.preview-hover-evento {
  pointer-events: none;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(6px);
  color: white;
  padding: 10px 12px;
  border-radius: 10px;
  width: 230px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
  transition: opacity 0.1s ease-out;

  z-index: 99999;
  max-width: 250px;
}

/* Título del evento */
.preview-hover-titulo {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

/* Descripción */
.preview-hover-descripcion {
  margin: 4px 0;
}

.preview-hover-descripcion.vacia {
  opacity: 0.6;
}

/* Lugar */
.preview-hover-lugar {
  margin: 4px 0;
  font-style: italic;
}

.preview-hover-lugar.vacia {
  opacity: 0.6;
  font-style: normal;
}

/* Etiqueta */
.preview-hover-etiqueta {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}
