/* =====================================================
   CONTENEDOR GLOBAL DEL CALENDARIO
===================================================== */

.todoCalendario {
  display: flex;
  width: 100%;
  height: 91vh;
  overflow: visible !important; 

  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(6px);
}

/* Responsive: barra lateral arriba en móvil */
@media (max-width: 900px) {
  .todoCalendario {
    flex-direction: column;
    height: auto;
  }
}


